/* import selected fonts from Google API */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #A41623;
    --secondary-colo: #F85E00;
    --accent1-color: #FFB563;
    --accent-color2: #918450;

    --heading-font: '____', serif;
    --paragraph-font: '____', serif;

    --nav-background-color: #8F8081;
    --nav-link-color: #523CC8;
    --nav-hover-link-color: #F3EEE9;
    --nav-hover-background-color: #D6E9E4;
}


/* Apply font families to different elements */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 0.9%;
    margin: 0 auto;
  }
  
  p {
    font-family: var(--paragraph-font);
    padding: 20px;
  }
  body{
      font-family: var(--paragraph-font);
      max-width: 960px;
      padding: 20px;
  }
  
    header {
      padding: 10px; 
      background-color: var(--secondary-color); /*secondary color variable */
    }
  
    /* Define CSS variables for font families */
  
  
    nav {
       /* Use the navigation background color variable */
      font-size: 1.2rem;
      display: flex;
      background-color: rgb(198, 209, 218);
      padding: 0;
      justify-content: space-evenly;
      align-items: center;
      }
    
    nav a {
      color: #b65d5d; /* Use the navigation link color variable */
      text-decoration: none; /* Remove underline from links */
      padding: 1rem;
      display: block;
    }
    
    nav a:hover {
      color: var(--nav-hover-link-color); /* Use the navigation hover link color variable */
      background-color: var(--nav-hover-background-color); /* Use the navigation hover background color variable */
    }
  
    nav a:link, nav a:visited {
      color: var(--nav-link-color);
    }
    