element.style {
}

footer {
    display: block;
    unicode-bidi: isolate;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #A41623;
    --secondary-colo: #F85E00;
    --accent1-color: #FFB563;
    --accent-color2: #918450;

    --heading-font: '____', serif;
    --paragraph-font: '____', serif;

    --nav-background-color: #8F8081;
    --nav-link-color: #523CC8;
    --nav-hover-link-color: #F3EEE9;
    --nav-hover-background-color: #D6E9E4;
}
